# Noti Service Secret
# cp secret.yaml.example secret.yaml

apiVersion: v1
kind: Secret
metadata:
  name: noti-service-secret
type: Opaque
stringData:
  DATABASE_URL: "<YOUR_DATABASE_URL>"
  REDIS_PASSWORD: "<YOUR_REDIS_PASSWORD>"
  SECRET_KEY: "<YOUR_SECRET_KEY>"
  INTERNAL_API_KEY: "<YOUR_INTERNAL_API_KEY>"
