apiVersion: v1
kind: Service
metadata:
  name: noti-service
  labels:
    app: noti-service
spec:
  type: ClusterIP
  ports:
    - port: 8002
      targetPort: 8002
      protocol: TCP
  selector:
    app: noti-service
