apiVersion: v1
kind: Service
metadata:
  name: noti-service
  labels:
    app: noti-service
spec:
  type: ClusterIP
  ports:
    - port: 8084
      targetPort: 8084
      protocol: TCP
  selector:
    app: noti-service
