apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: wealist-prod

resources:
  - ../../base

images:
  - name: storage-service
    newName: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/wealist/storage-service
    newTag: ${IMAGE_TAG}

replicas:
  - name: storage-service
    count: 2

patches:
  - target:
      kind: ConfigMap
      name: storage-service-config
    patch: |-
      - op: replace
        path: /data/ENV
        value: "prod"
      - op: replace
        path: /data/SERVER_MODE
        value: "release"
      - op: replace
        path: /data/LOG_LEVEL
        value: "info"
  - target:
      kind: Secret
      name: storage-service-secret
    patch: |-
      - op: replace
        path: /stringData/DATABASE_URL
        value: "postgresql://storage_service:${DB_PASSWORD}@${RDS_ENDPOINT}:5432/storage_db?sslmode=require"
      - op: replace
        path: /stringData/S3_BUCKET
        value: "${S3_BUCKET}"
      - op: replace
        path: /stringData/S3_ACCESS_KEY
        value: "${AWS_ACCESS_KEY_ID}"
      - op: replace
        path: /stringData/S3_SECRET_KEY
        value: "${AWS_SECRET_ACCESS_KEY}"
      - op: replace
        path: /stringData/S3_ENDPOINT
        value: ""
      - op: replace
        path: /stringData/S3_PUBLIC_ENDPOINT
        value: ""
