apiVersion: v1
kind: Service
metadata:
  name: board-service
  labels:
    app: board-service
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
  selector:
    app: board-service
