# Chat Service Secret
# cp secret.yaml.example secret.yaml

apiVersion: v1
kind: Secret
metadata:
  name: chat-service-secret
type: Opaque
stringData:
  DATABASE_URL: "<YOUR_DATABASE_URL>"
  DB_USER: "<YOUR_DB_USER>"
  DB_PASSWORD: "<YOUR_DB_PASSWORD>"
  JWT_SECRET: "<YOUR_JWT_SECRET_MIN_32_CHARS>"
