apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: wealist-dev

resources:
  - ../../base

patches:
  - target:
      kind: Namespace
      name: wealist
    patch: |-
      - op: replace
        path: /metadata/name
        value: wealist-dev
