apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: wealist-dev

resources:
  - ../../base

images:
  - name: board-service
    newName: board-service
    newTag: local

replicas:
  - name: board-service
    count: 1

patches:
  - target:
      kind: ConfigMap
      name: board-service-config
    patch: |-
      - op: replace
        path: /data/GIN_MODE
        value: "debug"
