apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - statefulset.yaml
  - service.yaml
  - secret.yaml
  - configmap.yaml

labels:
  - pairs:
      app.kubernetes.io/name: postgres
      app.kubernetes.io/part-of: wealist
