# PostgreSQL Secret
# cp secret.yaml.example secret.yaml

apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
stringData:
  POSTGRES_USER: "<YOUR_POSTGRES_USER>"
  POSTGRES_PASSWORD: "<YOUR_POSTGRES_PASSWORD>"
