apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: wealist-prod

resources:
  - ../../base

patches:
  - target:
      kind: Namespace
      name: wealist-infra
    patch: |-
      - op: replace
        path: /metadata/name
        value: wealist-prod
      - op: replace
        path: /metadata/labels/app.kubernetes.io~1name
        value: wealist-prod
  # Remove internal postgres/redis in EKS (use external services)
  - target:
      kind: StatefulSet
      name: postgres
    patch: |-
      $patch: delete
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: postgres
  - target:
      kind: StatefulSet
      name: redis
    patch: |-
      $patch: delete
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: redis
  # Replace internal postgres Service with ExternalName service
  - target:
      kind: Service
      name: postgres
    patch: |-
      - op: replace
        path: /spec
        value:
          type: ExternalName
          externalName: ${RDS_ENDPOINT}
          ports:
            - port: 5432
  # Replace internal redis Service with ExternalName service
  - target:
      kind: Service
      name: redis
    patch: |-
      - op: replace
        path: /spec
        value:
          type: ExternalName
          externalName: ${ELASTICACHE_ENDPOINT}
          ports:
            - port: 6379
