apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: wealist-prod

resources:
  - ../../base
  - ingress.yaml

images:
  - name: frontend
    newName: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/wealist/frontend
    newTag: ${IMAGE_TAG}

replicas:
  - name: frontend
    count: 2
