apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: wealist-prod

resources:
  - ../../base

images:
  - name: user-service
    newName: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/wealist/user-service
    newTag: ${IMAGE_TAG}

replicas:
  - name: user-service
    count: 2

patches:
  - target:
      kind: ConfigMap
      name: user-service-config
    patch: |-
      - op: replace
        path: /data/SPRING_PROFILES_ACTIVE
        value: "prod"
      - op: replace
        path: /data/SPRING_DATASOURCE_URL
        value: "jdbc:postgresql://${RDS_ENDPOINT}:5432/user_db"
  - target:
      kind: Deployment
      name: user-service
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "512Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "1Gi"
