# Video Service Secret
# cp secret.yaml.example secret.yaml

apiVersion: v1
kind: Secret
metadata:
  name: video-service-secret
type: Opaque
stringData:
  DATABASE_URL: "<YOUR_DATABASE_URL>"
  REDIS_HOST: "<YOUR_REDIS_HOST>"
  REDIS_PASSWORD: "<YOUR_REDIS_PASSWORD>"
  SECRET_KEY: "<YOUR_SECRET_KEY_MIN_32_CHARS>"
  LIVEKIT_API_KEY: "<YOUR_LIVEKIT_API_KEY>"
  LIVEKIT_API_SECRET: "<YOUR_LIVEKIT_API_SECRET>"
