apiVersion: v1
kind: Service
metadata:
  name: video-service
  labels:
    app: video-service
spec:
  type: ClusterIP
  ports:
    - port: 8004
      targetPort: 8004
      protocol: TCP
      name: http
  selector:
    app: video-service
