apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: wealist-prod

resources:
  - ../../base

images:
  - name: board-service
    newName: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/wealist/board-service
    newTag: ${IMAGE_TAG}

replicas:
  - name: board-service
    count: 2

patches:
  - target:
      kind: ConfigMap
      name: board-service-config
    patch: |-
      - op: replace
        path: /data/DB_HOST
        value: "${RDS_ENDPOINT}"
  - target:
      kind: Deployment
      name: board-service
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "256Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "512Mi"
